.grid::before {
  content: '';
  background-size: 64px 64px;
  background-image: linear-gradient(
          to right,
          lightgrey 1px,
          transparent 1px
  ),
  linear-gradient(to bottom, lightgrey 1px, transparent 1px);
  height: calc(100% - 5px);
  width: calc(100% - 5px);
  position: absolute;
  background-repeat: repeat;
}

body {
  background-color: #000000;
}
.vue-grid-item.vue-grid-placeholder {
  background: none !important;
}