.grid::before {
  content: '';
  background-size: 64px 64px;
  background-image: linear-gradient(
          to right,
          lightgrey 1px,
          transparent 1px
  ),
  linear-gradient(to bottom, lightgrey 1px, transparent 1px);
  height: 100%;
  width: 100%;
  position: absolute;
  background-repeat: repeat;
  box-sizing: border-box;
  background-position: -0.5px -0.5px;
}

body {
  background-color: #000000;
}
.vue-grid-item.vue-grid-placeholder {
  background: none !important;
}